body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #283136;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-menu {
	width: 100%;
	background-color: #eeeeee;
	margin-bottom: 80px;
}

.main-menu-container {
	width: 1200px;
	margin: 0 auto;
}

.main-header-logo {
	width: 160px;
	height: 130px;
}

.main-header-logo img {
	top: 49px;
	position: relative;
	left: 39px;
}

.examples-list {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
	font-size: 16px;
	line-height: 36px;
	color: #283136;
	text-transform: uppercase;
	background-color: #eeeeee;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.site-navigation {
	width: 800px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
}

.site-navigation-item.bucket {
	margin-left: 200px;
}

.site-navigation a {
	color: #283136;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #000000;
}

.slider {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	width: 1120px;
}

.slide {
	display: none;
	position: relative;
	min-height: 437px;
}

.slide.slide-active {
	display: flex;
}

.slide h1 {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 55px;
	line-height: 55px;
	width: 400px;
	padding-top: 84px;
	padding-bottom: 10px;
	margin: 0;
}

.slide p {
	margin: 16px 0 53px 0;
}

.slide a {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	width: 240px;
	height: 50px;
	padding-left: 53px;
	padding-right: 55px;
	padding-top: 16px;
	padding-bottom: 15px;
}

.slide-image {
	position: relative;
}

.slide-image.image-1 {
	bottom: -14px;
	right: -27px;
	transform: scale(1.09, 1.04);
}

.slider-pagination {
	width: auto;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	bottom: 67px;
	right: 508px;
	z-index: 2;
}

.switcher label {
	display: block;
	cursor: pointer;
}

.slider-input-radio + label::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-position: center;
	border-radius: 50%;
}

.slider-input-radio:checked + label::before {
}

.slider-input-radio:checked:active + label::before {
}

.slider-input-radio:active + label::before {
}

.projects {
	min-height: 428px;
}

.projects-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 1124px;
	margin: 0 auto;
	padding: 0;
}

.project-item {
	width: 300px;
	height: 350px;
	margin-bottom: 60px;
}

.project-item.presentation {
	padding-right: 22px;
}

.project-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 18px 0px 17px;
}

.project-item p {
	font-weight: 300;
	margin: 17px 0 46px;
}

.project-list li {
	background-color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 19px;
	padding-bottom: 19px;
	text-transform: uppercase;
	color: #ffffff;
	width: 160px;
	height: 50px;
}

.project-item a {
	font-size: 16px;
	line-height: 20px;
	padding-left: 38px;
	padding-right: 40px;
	padding-top: 17px;
	padding-bottom: 13px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #ffffff;
	width: 160px;
	height: 50px;
}

.apps a {
	background-color: #00ca74;
}

.presentation a {
	background-color: #efc84a;
}

.web  a {
	background-color: #fb565a;
}

.middle-colums {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.about-us {
	width: 800px;
}

.stastics-list {
	width: 380px;
}

.about-us h2 {
	font-size: 45px;
	line-height: 45px;
}

.order-list {
	list-style: none;
}

.statistics-list h3 {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.top th {
	font-size: 45px;
	line-height: 10.06px;
	text-transform: uppercase;
}

.top span {
	font-size: 22.5px;
}

.bottom th {
	font-size: 16px;
	line-height: 18px;
	padding-top: 20px;
	font-weight: 400;
}

.examples-items {
	list-style: none;
	opacity: 0.2;
	display: flex;
}

.contacts {
	width: 100%;
	background-color: #ffffff;
	position: relative;
}

.write-us h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	padding-left: 42px;
}

.marker-map {
	position: absolute;
	top: 79px;
	left: 680px;
}

.write-us p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-align: left;
	padding-left: 42px;
}

.write-us {
	width: 319px;
	height: 309px;
	background-color: #ffffff;
	position: absolute;
	top: 50px;
	left: 141px;
}

.write-us a {
	background-color: #fb565a;
	width: auto;
	height: 50px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	position: relative;
	left: 42px;
}

.main-footer {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	display: flex;
}

.footer-social {
	width: 500px;
	background-color: #ffffff;
}

.social-buttons {
	list-style: none;
	display: flex;
}

.social {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: #e1e1e1;
	margin-right: 10px;
	vertical-align: middle;
}

.social-vk {
	background-image: url('vk-icon.svg') no-repeat;
	background-position: 10px 10px;
}

.friendship {
	width: 940px;
	background-color: #ffffff;
}

.friendship h2 {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	text-align: left;
}

.friendship p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
	text-align: left;
}

.modal-write-us {
	width: 960px;
	background-color: #ffffff;
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	line-height: 18px;
}

.button {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	padding: 18px 80px 18px 80px;
	width: 260px;
	text-align: center;
	position: relative;
}

.modal-write-us h2 {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.write-item {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.title {
	width: auto;
	background-color: #eeeeee;
	text-align: center;
	margin-bottom: 117px;
	padding: 117px 358px 117px 358px;
}

.main-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	color: #000000;
}

.filter-title {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.sort {
	list-style: none;
}

.sort li {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
	display: inline-block;
}

.sort-buttons {
	list-style: none;
}

.catalog {
	width: 820px;
}

.catalog-list {
	list-style: none;
}

.pagination-list {
	width: 443px;
	margin: 0 auto;
	padding: 10px;
	white-space: nowrap;
	list-style: none;
}

.pagination-list li {
	height: 50px;
	width: 50px;
	padding-right: 22px;
	padding-left: 22px;
	padding-top: 18px;
	padding-bottom: 18px;
	margin: 10px 10px;
	background-color: #eeeeee;
	display: inline-block;
	text-align: center;
}

.pagination-item {
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.filter-div {
	width: 260px;
	position: relative;
	top: -165px;
	margin-right: 140px;
	margin-left: 140px;
}

.sort-div {
	width: auto;
	position: relative;
	min-height: 33px;
	margin-left: 540px;
	top: -60px;
}

.catalog {
	width: auto;
	position: relative;
	margin-right: 140px;
	margin-left: 475px;
	margin-top: -580px;
}

.catalog-list {
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0;
	margin: 70px auto 0 70px;
	display: flex;
}

.catalog-item {
	position: relative;
	width: 360px;
	min-height: 577px;
	flex-direction: column;
}
